<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Income – Earthrise</title>
    <link rel="stylesheet" href="../../styles/resets.css" />
    <link rel="stylesheet" href="../../styles/shared.css" />
    <link rel="stylesheet" href="../../styles/areas.css" />
    <script
      src="../../js/home-page/project-areas/headerNavModal.js"
      defer
    ></script>
  </head>
  <body>
    <div class="main-header container">
      <header class="main-header__header">
        <a class="main-header__logo" href="./index.html"
          >earthrise initiative</a
        >
        <a id="main-header__menu-btn" class="main-header__menu-btn"> menu </a>
        <nav class="main-header__nav">
          <ul class="main-header__nav-items">
            <li class="main-header__nav-item">
              <a href="./index.html">home</a>
            </li>
            <li class="main-header__nav-item">
              <a href="./projects.html">what we do</a>
            </li>
            <li class="main-header__nav-item">
              <a href="./resources.html">resources</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <div class="quote container">
      <section id="quote__section" class="quote__section">
        <a id="breadcrumbs" class="breadcrumbs" href=""
          >projects / basic income</a
        >
        <q class="quote__quote"
          >I and my companions suffer from a disease of the heart which can be
          cured only with gold.</q
        >
        <p id="quote__attribution" class="quote__attribution">
          – Hernán Cortés
        </p>
      </section>
    </div>
    <main class="area container">
      <section id="area-intro__section" class="area-intro__section">
        <div>
          <h1 id="area-intro__heading" class="area-intro__heading">
            the money problem
          </h1>
          <p class="area-intro__text">
            Our ancestors invented money to facilitate exchange. It has been
            very useful for building our civilisation. However, today we have
            largely forgotten its intended purpose. Both for who he was and what
            he said, Cortés strikes at the heart of the problem: craving as a
            fundamental human trait, and our promotion of wealth to an end in
            itself.
          </p>
        </div>
        <div class="area-intro__concept1">
          <h4 class="area-intro__sub-heading">an end in itself</h4>
          <p class="area-intro__text">
            Money is only a proxy for the fruits of our efforts. We see the
            superstar, and conflate their money with contentment. Even if they
            truly are content, their contentment is their comfort and freedom,
            not their money. Almost all of humanity must dedicate their life’s
            efforts to gaining basic comforts of shelter and food. What
            potential, what creativity, what happiness, might be revealed if we
            all had space to breathe, to think, about how to channel our life’s
            attention? We support projects that work on realising this dream.
          </p>
        </div>
        <div class="area-intro__concept2">
          <h4 class="area-intro__sub-heading">craving</h4>
          <p class="area-intro__text">
            The human reaction to pleasure is craving for more. This makes sense
            in evolutionary terms. Our ancestors were continuously compelled to
            search for food. Today, we can convert money into pleasure. our
            civilisation is as enslaved by money as the alcoholic by alcohol.
            Some of us have more than we could ever need. Most of us have none,
            and desparately need it to survive.
          </p>
        </div>
      </section>
      <section id="area-projects" class="area-projects__section">
        <h1 class="area-projects__heading">projects we support</h1>
        <a
          href="https://www.givedirectly.org"
          target="_blank"
          id="give-directly-preview"
          class="project container"
        >
          <img
            class="project__image"
            src="./give-directly.svg"
            alt="Give Directly logo"
          />
          <h3 class="project__heading">Give Directly</h3>
          <p class="project__description">
            A nonprofit with the mission to provide a free, world-class
            education for anyone, anywhere.
          </p>
        </a>
        <a
          href="https://www.realschool.eu"
          target="_blank"
          id="real-school-preview"
          class="project container"
        >
          <img
            class="project__image"
            src="https://static.wixstatic.com/media/48d0e2_9091277b2d07400f973f9bc8df0a2546~mv2_d_5839_3935_s_4_2.png/v1/fill/w_214,h_142,al_c,q_85,usm_0.66_1.00_0.01/Real%20School%20-%20RGB%20-%20Main%20Logo.svg"
            alt="Real School"
          />
          <h3 class="project__heading">
            Center for the Neuroscience of Psychedelics
          </h3>
          <p class="project__description">
            A not-for-profit international school that educates for
            sustainability through project-based learning.
          </p>
        </a>
        <a
          href="https://www.freecodecamp.org"
          target="_blank"
          id="freecodecamp-preview"
          class="project container"
        >
          <img
            class="project__image"
            src="./freecodecamp-vector-logo.svg"
            alt="freeCodeCamp logo"
          />
          <h3 class="project__heading">United for Global Mental Health</h3>
          <p class="project__description">
            freeCodeCamp is a nonprofit community that helps you learn to code
            by building projects.
          </p>
        </a>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__col">
        <h4 class="footer__col-heading">contact</h4>
        <a
          class="footer__contact--email"
          href="mailto:hello@earthriseinitiative.com"
          >hello@earthriseinitiative.com</a
        >
      </div>
      <div class="footer__col">
        <p class="footer__logo">earthrise initiative</p>
        <p class="footer__copyright">© 2020</p>
      </div>
    </footer>
  </body>
</html>
