<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Education – Earthrise</title>
    <link rel="stylesheet" href="../../styles/resets.css" />
    <link rel="stylesheet" href="../../styles/shared.css" />
    <link rel="stylesheet" href="../../styles/areas.css" />
    <script src="../../js/home-page/project-areas/headerNavModal.js" defer></script>
  </head>
  <body>
    <header>
      <a class="header__logo" href="../index.html">earthrise initiative</a>
      <a id="header__menu-btn">menu</a>
      <nav class="header__nav">
        <ul class="header__nav_items">
          <li class="header__nav-item"><a href="">mission</a></li>
          <li class="header__nav-item">
            <a href="./projects.html">projects</a>
          </li>
          <li class="header__nav-item">
            <a href="./resources.html">resources</a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="quote__section">
      <a id="breadcrumbs" href="">projects / education</a>
      <q>Why can't one million students a year attend Harvard?</q>
      <p id="quote__attribution">– Marc Andreessen</p>
    </section>
    <main>
      <section id="area-intro">
        <h1 id="area-intro__heading">the education problem</h1>
        <div class="area-intro__concept1">
          <h4>quality</h4>
          <p>
            We carry a large portion of humanity's knowldge in our pockets. We
            support projects that help unlock this potential.
          </p>
        </div>
        <div class="area-intro__concept2">
          <h4>scale</h4>
          <p>
            “We have top-end universities with the capacity to teach only a
            microscopic percentage of the 120 million new 18-year-olds in the
            world each year. Why not educate every 18-year-old? Isn’t that the
            most important thing we can possibly do?” Andreessen again.
          </p>
        </div>
      </section>
      <section id="area-projects">
        <h1>projects we support</h1>
        <a
          href="https://www.khanacademy.org"
          target="_blank"
          id="khan-academy-preview"
          class="project-preview"
        >
          <img
            class="project__image"
            src="../../media/khan-academy-logo.svg"
            alt="Khan Academy logo"
          />
          <h3>Khan Academy</h3>
          <p>
            A nonprofit with the mission to provide a free, world-class
            education for anyone, anywhere.
          </p>
        </a>
        <a
          href="https://www.realschool.eu"
          target="_blank"
          id="real-school-preview"
          class="project-preview"
        >
          <img
            class="project__image"
            src="../../media/real-school.webp"
            alt="Real School"
          />
          <h3>Real School</h3>
          <p>
            A not-for-profit international school that educates for
            sustainability through project-based learning.
          </p>
        </a>
        <a
          href="https://www.freecodecamp.org"
          target="_blank"
          id="freecodecamp-preview"
          class="project-preview"
        >
          <img
            class="project__image"
            src="../../media/freecodecamp-vector-logo.svg"
            alt="freeCodeCamp logo"
          />
          <h3>freeCodeCamp</h3>
          <p>
            freeCodeCamp is a nonprofit community that helps you learn to code
            by building projects.
          </p>
        </a>
      </section>
    </main>
    <footer>
      <div class="footer__nav">
        <h4>contact</h4>
        <a class="contact__email" href="mailto:hello@earthriseinitiative.com"
          >hello@earthriseinitiative.com</a
        >
      </div>
      <div>
        <p class="footer__logo">earthrise initiative</p>
        <p class="copyright">© 2020</p>
      </div>
    </footer>
  </body>
</html>
