<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mental Health – Earthrise</title>
    <!-- <link rel="stylesheet" href="../../styles/resets.css" />
    <link rel="stylesheet" href="../../styles/shared.css" />
    <link rel="stylesheet" href="../../styles/areas.css" />
    <script src="../../js/home-page/project-areas/headerNavModal.js" defer></script> -->
  </head>
  <body>
    <header>
      <a class="header__logo" href="./index.html">earthrise initiative</a>
      <a id="header__menu-btn">menu</a>
      <nav class="header__nav">
        <ul class="header__nav_items">
          <li class="header__nav-item"><a href="">mission</a></li>
          <li class="header__nav-item">
            <a href="./projects.html">projects</a>
          </li>
          <li class="header__nav-item">
            <a href="./resources.html">resources</a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="quote__section">
      <a id="breadcrumbs" href="">projects / mental health</a>
      <q
        >I and my companions suffer from a disease of the heart which can be
        cured only with gold.</q
      >
      <p id="quote__attribution">– Hernán Cortés</p>
    </section>
    <main>
      <section id="area-intro">
        <div class="area-intro__opener">
          <h1>the money problem</h1>
          <p>
            Our ancestors invented money to facilitate exchange. It has been
            very useful for building our civilisation. However, today we have
            largely forgotten its intended purpose. Both for who he was and what
            he said, Cortés strikes at the heart of the problem: craving as a
            fundamental human trait, and our promotion of wealth to an end in
            itself.
          </p>
        </div>
        <div class="area-intro__concept1">
          <h4>an end in itself</h4>
          <p>
            Money is only a proxy for the fruits of our efforts. We see the
            superstar, and conflate their money with contentment. Even if they
            truly are content, their contentment is their comfort and freedom,
            not their money. Almost all of humanity must dedicate their life’s
            efforts to gaining basic comforts of shelter and food. What
            potential, what creativity, what happiness, might be revealed if we
            all had space to breathe, to think, about how to channel our life’s
            attention? We support projects that work on realising this dream.
          </p>
        </div>
        <div class="area-intro__concept2">
          <h4>craving</h4>
          <p>
            The human reaction to pleasure is craving for more. This makes sense
            in evolutionary terms. Our ancestors were continuously compelled to
            search for food. Today, we can convert money into pleasure. our
            civilisation is as enslaved by money as the alcoholic by alcohol.
            Some of us have more than we could ever need. Most of us have none,
            and desparately need it to survive.
          </p>
        </div>
      </section>
      <section id="area-projects">
        <div class="area-projects__opener">
          <h1>projects we support</h1>
          <p>
            We support projects that aim to bring about meaningful change in
            education.
          </p>
        </div>
        <a
          href="https://www.givedirectly.org"
          target="_blank"
          class="project-preview"
        >
          <img
            class="project__image"
            src="./give-directly.svg"
            alt="Give Directly logo"
          />
          <h3>Give Directly</h3>
          <p>
            A nonprofit with the mission to provide a free, world-class
            education for anyone, anywhere.
          </p>
        </a>
        <a
          href="https://www.realschool.eu"
          target="_blank"
          id="real-school-preview"
          class="project-preview"
        >
          <img
            class="project__image"
            src="https://static.wixstatic.com/media/48d0e2_9091277b2d07400f973f9bc8df0a2546~mv2_d_5839_3935_s_4_2.png/v1/fill/w_214,h_142,al_c,q_85,usm_0.66_1.00_0.01/Real%20School%20-%20RGB%20-%20Main%20Logo.svg"
            alt="Real School"
          />
          <h3>Real School</h3>
          <p>
            A not-for-profit international school that educates for
            sustainability through project-based learning.
          </p>
        </a>
        <a
          href="https://www.freecodecamp.org"
          target="_blank"
          id="freecodecamp-preview"
          class="project-preview"
        >
          <img
            class="project__image"
            src="./freecodecamp-vector-logo.svg"
            alt="freeCodeCamp logo"
          />
          <h3>freeCodeCamp</h3>
          <p>
            freeCodeCamp is a nonprofit community that helps you learn to code
            by building projects.
          </p>
        </a>
      </section>
    </main>
    <footer>
      <div class="footer__nav">
        <h4>contact</h4>
        <a class="contact__email" href="mailto:hello@earthriseinitiative.com"
          >hello@earthriseinitiative.com</a
        >
      </div>
      <div>
        <p class="footer__logo">earthrise initiative</p>
        <p class="copyright">© 2020</p>
      </div>
    </footer>
  </body>
</html>
