<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mental Health – Earthrise</title>
    <link rel="stylesheet" href="../../styles/resets.css" />
    <link rel="stylesheet" href="../../styles//shared.css" />
  </head>
  <body>
    <header>
      <a class="header__logo--light" href="#">earthrise initiative</a>
      <a class="header__link" href="#">menu</a>
      <nav class="header__nav">
        <ul class="header__nav_items">
          <li class="header__nav_item"><a href="">mission</a></li>
          <li class="header__nav_item">
            <a href="./projects.html">projects</a>
          </li>
          <li class="header__nav_item">
            <a href="./resources.html">resources</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <a href="">projects / mental health</a>
      <q>Why can't one million students a year attend Harvard?</q>
      <p>– Marc Andreessen</p>
    </section>
    <main>
      <section>
        <h1>the education problem</h1>
        <p>
          Education is a large and nuanced field. Yet the quote above, taken
          from It’s Time to Build by Marc Andreessen, contains the essence of
          the challenge: quality and scale.
        </p>
        <div>
          <h3>quality</h3>
          <p>
            More knowledge than Newton or Galileo could have dreamed of is
            accesible via the internet-connected devices in our pockets. We
            support projects that help unlock this potential.
          </p>
        </div>
        <div>
          <h3>scale</h3>
          <p>
            “We have top-end universities with the capacity to teach only a
            microscopic percentage of the 120 million new 18-year-olds in the
            world each year. Why not educate every 18-year-old? Isn’t that the
            most important thing we can possibly do?” Andreessen again. We
            couldn’t put it better. We support projects that aim to massively
            scale access to high-quality learning.
          </p>
        </div>
      </section>
      <section>
        <h1>projects we support</h1>
        <div id="projects-container">
          <div id="khan-academy-preview" class="project-preview">
            <img src="" alt="" />
            <h2>Khan Academy</h2>
            <p>
              A nonprofit with the mission to provide a free, world-class
              education for anyone, anywhere.
            </p>
          </div>
          <div id="real-school-preview" class="project-preview">
            <img src="" alt="" />
            <h2>Real School</h2>
            <p>
              A not-for-profit international school that educates for
              sustainability through project-based learning.
            </p>
          </div>
          <div id="freecodecamp-preview" class="project-preview">
            <img src="" alt="" />
            <h2>freeCodeCamp</h2>
            <p>
              freeCodeCamp is a nonprofit community that helps you learn to code
              by building projects.
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
