@import '_variables.scss';

#quote__section {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  background-color: $off-black;

  @media (min-width: $breakpoint-large) {
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
}

#breadcrumbs {
  color: $off-white;
  display: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  margin-bottom: 2.5rem;

  @media (min-width: $breakpoint-tablet) {
    display: block;
  }
}

q {
  max-width: 35rem;
  margin: auto;
  text-align: center;
  font-family: 'Cousine', monospace;
  font-size: 1.5rem;
  color: $pure-white;
  line-height: 2.25rem;
}

#quote__attribution {
  margin: 1.5rem 0 2.5rem 0;
  color: $off-white;
  text-align: center;
}

@media (min-width: 48rem) {
  q {
    font-size: 2rem;
    line-height: 2.75rem;
    max-width: 40rem;
  }

  #quote__attribution {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }
}

main {
  background-color: $off-white;
  padding: 2rem 1rem 4rem 1rem;
}

h2 {
  @include heading-2($off-black);
}

#area-intro,
#area-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  max-width: 50rem;
  margin: auto;
}

#area-intro p {
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

.project-preview {
  // padding: 1rem;
}

.project-preview:hover {
  background-color: $pure-white;
  cursor: pointer;
}

/* temporary fix given current image has transparent bg */
#khan-academy-preview img {
  background-color: #1c273c;
  padding: 0 1rem;
}

.project__image {
  height: 16rem;
  width: 100%;
}

h3 {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}
