.quote {
  &.container {
    @include container($off-black);
    padding: 8rem 1rem 0 1rem;
  }

  &__section {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-large) {
      padding-top: 8rem;
      padding-bottom: 2rem;
    }
  }

  &__quote {
    @include heading-2($pure-white, $heading-font);
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__attribution {
    @include heading-3($pure-white);
    margin: 1.5rem 0 2.5rem 0;
    text-align: center;
  }
}

#breadcrumbs {
  color: $off-white;
  display: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  margin-bottom: 2.5rem;

  @media (min-width: $breakpoint-tablet) {
    display: block;
  }
}

.area,
.projects {
  &.container {
    @include container($off-white);
    padding: 6rem 1rem 4rem 1rem;
  }
}

.area-intro,
.area-projects,
.projects,
.resources-main {
  &__section {
    @include grid;
    margin-bottom: 4rem;
  }

  &__heading {
    @include hero-heading($off-black);
    text-transform: uppercase;
    margin-bottom: 1rem;
    max-width: 16rem;
  }

  &__sub-heading {
    @include heading-4;
    margin-bottom: 0.5rem;
  }

  &__text {
    @include body-text;
  }
}

.project {
  &.container {
    @include container($pure-white, 0 0 1rem 0);
  }

  &__image {
    height: 16rem;
    width: 100%;
  }

  &__heading {
    @include heading-2($off-black, $heading-font);
    margin: 0.25rem 0;
    padding: 0 1rem;
  }

  &__description {
    @include body-text;
    padding: 0 1rem;
  }
}

.project-preview:hover {
  background-color: $pure-white;
  cursor: pointer;
}

/* temporary fix given current image has transparent bg */
#khan-academy-preview img {
  background-color: #1c273c;
  padding: 0 1rem;
}

// h3 {
//   font-size: 1.5rem;
//   margin: 0.25rem 0;
// }

// @media (min-width: 48rem) {
//   q {
//     font-size: 2rem;
//     line-height: 2.75rem;
//     max-width: 40rem;
//   }

//   #quote__attribution {
//     font-size: 1.25rem;
//     margin-top: 1.5rem;
//   }
// }
