.hero {
  &.container {
    @include container($off-black);
  }

  &__bg-image {
    max-width: $xl-screen;
    width: 100%;
    height: 70vh;
    margin: auto;
    background: $off-black url('../media/earthrise-hero-bg.png') no-repeat 70%
      1rem;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  &__bg-nav-arrow {
    margin-left: 0.5rem;
  }

  &__section {
    max-width: $xl-screen;
    padding: 3rem 1rem 1rem 1rem;
  }

  &__mission-statement {
    @include hero-heading($pure-white);
    margin-bottom: 4rem;

    @media (min-width: $breakpoint-large) {
      letter-spacing: 1.5px;
      line-height: 4.25rem;
      max-width: 50rem;
      margin: 4rem 0;
      padding-left: 9rem;
    }
  }

  &__nav {
    max-width: 35rem;
    margin: auto;
  }

  &__nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $turqoise;

    a {
      display: flex;
      flex-direction: column;
      justify-items: center;
      text-align: center;
      text-transform: capitalize;
      font-family: $link-font;
      font-size: $link-font-size;
      font-weight: 500;
      line-height: 1.2rem;
      // letter-spacing: 0.5px;

      @media (min-width: $breakpoint-large) {
        font-size: 0.8rem;
      }
    }
  }

  &__nav-item.container {
    padding: 0.5rem;
  }

  &__nav-arrow {
    margin-top: 0.5rem;
    opacity: 0;
  }

  &__nav-arrow.active {
    opacity: 1;
  }

  // @media (min-width: $breakpoint-large) {
  //   height: 80vh;
  //   background-position: 70% 0rem;
  // }
}

.areas-preview {
  &.container {
    @include container($off-white);
  }

  &__section {
    padding: 5rem 1rem 9rem 1rem;
    background-color: $off-white;

    @media (min-width: $breakpoint-large) {
      padding-left: 10rem;
      padding-bottom: 14rem;
    }
  }

  &__sub-heading {
    @include heading-4;
    margin-bottom: 0.5rem;
  }

  &__main-heading {
    @include heading-2($off-black, $body-font, 0.7px);
    margin-bottom: 3rem;
  }
}

// #areas-preview > * {
//   max-width: 35rem;
//   margin: auto;

//   @media (min-width: $breakpoint-large) {
//     max-width: 42rem;
//     margin: 0;
//   }
// }

#areas-question {
  margin-top: 0.5rem;
  margin-bottom: 2.75rem;

  @media (min-width: $breakpoint-large) {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

.explore-projects-btn {
  &.container {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
  }

  &__arrow {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid $off-black;
    padding: 0.25rem;
    margin-right: 1rem;
    background: url('../media/right-arrow-dark.svg') center/32px no-repeat;
  }

  &__arrow.hover {
    background-color: $turqoise;
    border: none;
  }

  &__text {
    @include link-text($off-black);
    font-size: $h4-font-size;
  }
}
