@import '_variables';

#hero {
  height: 70vh;
  background-image: url('../media/earthrise-hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 1rem;
  background-color: $off-black;
  display: flex;
  align-items: center;

  @media (min-width: $breakpoint-large) {
    height: 80vh;
    background-position: 70% 0rem;
  }
}

#mission {
  background-color: $off-black;
}

#mission-statement {
  @include hero-heading($pure-white);
  max-width: 35rem;
  margin: 3rem auto;

  @media (min-width: $breakpoint-large) {
    letter-spacing: 1.5px;
    line-height: 4.25rem;
    max-width: 50rem;
    margin: 4rem 0;
    padding-left: 9rem;
  }
}

.mission__nav {
  max-width: 35rem;
  margin: auto;

  .mission__nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $turqoise;
  }
  .mission__nav-item__container {
    padding: 0.5rem;
  }
}

.mission__nav-items a {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 0.5px;

  @media (min-width: $breakpoint-large) {
    font-size: 0.8rem;
  }

  .mission__nav__nav-arrow {
    margin-top: 0.5rem;
    opacity: 0;
  }

  .active {
    opacity: 1;
  }
}

#areas-preview {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background-color: $off-white;

  @media (min-width: $breakpoint-large) {
    padding-left: 10rem;
    padding-bottom: 14rem;
  }
}

#areas-preview > * {
  max-width: 35rem;
  margin: auto;

  @media (min-width: $breakpoint-large) {
    max-width: 42rem;
    margin: 0;
  }
}

#areas-question {
  margin-top: 0.5rem;
  margin-bottom: 2.75rem;

  @media (min-width: $breakpoint-large) {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

.btn {
  &.explore-projects {
    display: flex;
    align-items: center;
    width: fit-content;
  }
}

.explore-projects__btn__nav-arrow {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid $off-black;
  padding: 0.25rem;
  margin-right: 1rem;
  background: url('../media/right-arrow-dark.svg') center/32px no-repeat;

  &.hover {
    background-color: $turqoise;
    border: none;
  }
}

.explore-projects__btn__text {
  letter-spacing: 0.5px;
}
