@mixin hero-heading($color) {
  color: $color;
  font-family: $heading-font;
  font-size: $h1-font-size;
  line-height: 2rem;
  font-weight: 400;
}

@mixin heading-2($color, $font, $letter-spacing: 0) {
  font-family: $font;
  font-size: $h2-font-size;
  letter-spacing: $letter-spacing;
  line-height: $h2-font-size * 1.5;
  font-weight: 400;
  color: $color;
}

@mixin heading-3 {
  font-family: $heading-font;
  font-weight: 400;
}

@mixin heading-4 {
  font-family: $body-font;
  font-variant-caps: all-small-caps;
  font-size: $h3-font-size;
  letter-spacing: 0.5px;
  color: $orange;
}

@mixin link-text($color) {
  font-family: $link-font;
  color: $color;
}

@mixin logo($color) {
  font-family: $heading-font;
  color: $color;
  font-size: $h4-font-size;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
}

@mixin body-text {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 2rem;
}

@mixin theme($pimary-color, $rotate: 120deg, $darkenpct: 20%) {
  $other-color: adjust-hue($pimary-color, $rotate);
  $other2-color: adjust-hue($pimary-color, 180deg);
  $secondary-color: adjust-hue($pimary-color, -$rotate);

  .btn-primary {
    background-color: $pimary-color;
  }
  .btn-secondary {
    background-color: $secondary-color;
  }
  .btn-other {
    background-color: $other-color;
  }
  .btn-other2 {
    background-color: $other2-color;
  }
}

@mixin container($bg-color) {
  width: 100%;
  background-color: $bg-color;
}

// produce batch of top and bottom margins a
// as multiples of 8px
// @for $i from 1 through 5 {
//   $size: $i * 8;
//   .m-t-#{$size} {
//     margin-top: #{$size}px;
//   }
//   .m-b-#{$size} {
//     margin-bottom: #{$size}px;
//   }
// }
