* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $off-black;
  min-width: 20rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
