.resources {
  &__bg-layer {
    background-color: rgba(31, 31, 31, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__bg-image {
    @extend .hero__bg-image;
    background-position: 82% 4rem;
    position: relative;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2rem;
    z-index: 1;
  }

  &__main {
    background-color: $off-white;
  }

  &.container {
    @include container($off-white);
    display: flex;
    flex-direction: column;
    max-width: $grid-max-width;
    padding: 6rem 1rem 4rem 1rem;
    margin: auto;
  }

  &__heading {
    @include hero-heading($off-black);
    text-transform: uppercase;
    margin-bottom: 1rem;
    max-width: 16rem;
  }

  &__section {
    display: grid;
    row-gap: 4rem;
    column-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(21rem, auto));

    @media (min-width: $breakpoint-tablet) {
      grid-template-areas:
        'quote1 org1'
        'book1 org1'
        'book1 quote2'
        'book1 book2'
        'book3 book2'
        'book3 book2'
        'book3 .';
    }

    &__sub-heading {
      @include heading-4;
      margin-bottom: 0.5rem;
    }

    &__text {
      @include body-text;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    #andreessen {
      grid-area: quote1;
    }

    #effective-altruism {
      grid-area: org1;
    }

    #animal-liberation {
      grid-area: book1;
    }

    #harari {
      grid-area: quote2;
    }

    #dalai-lama {
      grid-area: book2;
    }

    #pollan {
      grid-area: book3;
    }
  }

  // &__section {
  //   max-width: $grid-max-width;
  //   display: grid;
  //   margin: auto;
  //   grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
  //   grid-template-rows: auto 1fr 1fr auto auto;
  //   grid-gap: 1rem;
  // }

  // pre-set higher up cascade in _areas.scss
  &__intro-heading {
    @include hero-heading($pure-white);
    text-transform: unset;
    max-width: 32rem;
    margin-bottom: 4rem;
  }

  // pre-set higher up cascade in _areas.scss
  &__intro-text {
    @include heading-3($pure-white);
  }

  // &__section {
  //   width: 66vw;
  //   display: grid;
  //   margin: auto;
  //   grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
  //   grid-template-rows: auto 1fr 1fr auto auto;
  //   grid-gap: 1rem;
  // }

  // &__main {
  //   @include container($off-white, 1rem);
  //   @include grid;
  // }
}

.resource {
  &__topic-tags.container {
    display: flex;
    margin-top: 1rem;
  }
  &__topic-tag {
    @include heading-4;
    margin-right: 1rem;
  }
}

.resource--image {
  &.container {
    @include container(transparent, 0 0 1rem 0);
  }

  &__image {
    height: 16rem;
    width: 100%;
    background-color: blue;
    opacity: 0.4;
  }

  &__heading {
    @include heading-3($off-black, $body-font);
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
  }

  &__description {
    @include body-text;
  }
}

.resource--text {
  &.container {
    max-width: 20rem;
  }
  &__quote {
    @include heading-3($off-black);
  }

  &__heading {
    @include body-text;
    margin: 1rem 0;
    font-weight: 600;
  }
}
