html {
  scroll-behavior: smooth;
}

* {
  /* border: tomato solid 1px; */
}

// body {
//   max-width: 80rem;
//   margin: auto;
// }

// body > * {
//   padding: 1rem;
//   border-radius: 0.5rem;
// }

.main-header {
  &.container {
    @include container($off-black);
  }

  &__header {
    z-index: 2;
    max-width: $xl-screen;
    width: 100%;
    display: grid;
    position: fixed;
    right: 0;
    left: 0;
    padding: 0.5rem 1rem;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem;
    grid-template-areas:
      'logo toggle'
      'nav-items nav-items';
    align-items: center;
    color: $pure-white;
    background-color: $off-black;
  }

  &__logo {
    @include logo($pure-white);
    grid-area: logo;
  }

  &__menu-btn {
    grid-area: toggle;
    text-align: right;
    text-transform: capitalize;
    font-size: $link-font-size;
  }

  &__menu-btn:hover {
    cursor: pointer;
  }

  &__nav {
    width: 100%;
    grid-area: nav-items;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    color: $off-black;
    background-color: $off-white;
    animation: fade-slide-in 0.3s ease-out forwards;
  }

  &__nav.open {
    display: flex;
  }

  &__nav-item {
    padding: 1rem;
    text-align: center;
    font-family: $link-font;
    font-size: $h2-font-size;
    text-transform: capitalize;
  }
}

@media (min-width: $breakpoint-small) {
  .header__logo {
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  max-width: 50rem;
  padding: 2rem 1rem 4rem 1rem;
  margin: auto;
  background-color: $off-black;

  &__col-heading {
    @include heading-4;
  }

  &__logo {
    @include logo($pure-white);
    margin-bottom: 0.5rem;
  }

  &__contact--email {
    display: block;
    margin-top: 0.5rem;
    color: $pure-white;
    font-family: $link-font;
    font-size: $h4-font-size;
  }

  &__copyright {
    color: $pure-white;
    font-size: $link-font-size;
  }
}
