// :root {
//   /* colors */
//   --off-black: #1f1f1f;
//   --off-white: #eef2f1;
//   --pure-white: #fff;
//   --turqoise: #2cdec0;
//   --orange: #fb6520;
// }

// Color palette
$off-black: #1f1f1f;
$off-white: #eef2f1;
$pure-white: #fff;
$turqoise: #2cdec0;
$orange: #fb6520;

// breakpoints
$breakpoint-small: 35rem;
$breakpoint-tablet: 48rem;
$breakpoint-large: 60rem;

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $off-black;
  min-width: 20rem;
}

h1,
h2 {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

h3 {
  font-weight: 600;
}

h4 {
  font-variant-caps: all-small-caps;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  color: $orange;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}
