// Color palette
$off-black: #1f1f1f;
$off-white: #eef2f1;
$pure-white: #fff;
$turqoise: #2cdec0;
$orange: #fb6520;

// fonts
$body-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Roboto Mono', monospace;
$link-font: $heading-font;

// breakpoints
$breakpoint-small: 35rem;
$breakpoint-tablet: 48rem;
$breakpoint-large: 60rem;
$xl-screen: 75rem;

// base font sizes (mobile)
$h1-font-size: 1.5rem;
$h2-font-size: $h1-font-size * 0.85;
$h3-font-size: $h2-font-size * 0.85;
$h4-font-size: $h3-font-size * 0.85;
$link-font-size: $h4-font-size * 0.85;
$body-font-size: $h4-font-size;
