#hero {
  height: 70vh;
  background-image: url('../media/earthrise-hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 1rem;
  background-color: var(--off-black);
  display: flex;
  align-items: center;
}

#mission {
  background-color: var(--off-black);
}

#mission-statement {
  max-width: 35rem;
  line-height: 3rem;
  font-weight: 400;
  margin: 3rem auto;
  color: var(--pure-white);
}

.mission__nav {
  max-width: 35rem;
  margin: auto;
}

.mission__nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--turqoise);
}

.mission__nav-item__container {
  padding: 0.5rem;
}

.mission__nav-items a {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
}

.mission__nav__nav-arrow {
  margin-top: 0.5rem;
  opacity: 0;
}

.active {
  opacity: 1;
}

@media (min-width: 60rem) {
  #hero {
    height: 80vh;
    background-position: 70% 0rem;

  }
  #mission-statement {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    line-height: 4.25rem;
    max-width: 50rem;
    margin: 4rem auto;
  }

  .mission__nav-items a {
    font-size: 0.8rem;
  }
}

#areas-preview {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background-color: var(--off-white);
}

#areas-preview > * {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

#areas-question {
  margin-top: 0.5rem;
  margin-bottom: 2.75rem;
}

#explore-projects__btn {
  display: flex;
  align-items: center;
  width: fit-content;
}

#explore-projects__btn__nav-arrow {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid var(--off-black);
  padding: 0.25rem;
  margin-right: 1rem;
}

#explore-projects__btn__text {
  letter-spacing: 0.5px;
}
