/* Fonts ==>> Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* Fonts ==>> Source Code Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

/* Fonts ==>> Cousine (monospace) */
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

/* Earthrise style guide */
@import './style-guide.css';

html {
  scroll-behavior: smooth;
  max-width: 80rem;
  margin: auto;
  background-color: var(--off-black);
}

* {
  /* border: tomato solid 1px; */
}

body > * {
  padding: 1rem;
  border-radius: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--off-black);
  color: var(--pure-white);
}

.header__logo {
  max-width: 50%;
  font-family: 'Cousine', monospace;
  font-size: 0.85rem;
  letter-spacing: 2px;
  line-height: 1.35rem;
  text-transform: uppercase;
  color: inherit;
}

@media (min-width: 35rem) {
  header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .header__logo {
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

.header__link {
  text-transform: capitalize;
}

.header__nav {
  display: none;
}
/* 
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 5rem;
} */

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  max-width: 50rem;
  margin: auto;  
}

.footer__logo {
  font-family: 'Cousine', monospace;
  font-size: 0.8rem;
  letter-spacing: 1.8px;
  line-height: 1.35rem;
  text-transform: uppercase;
  color: var(--pure-white);
  margin-bottom: 0.5rem;
}

.copyright {
  color: var(--pure-white);
  font-size: 0.8rem;
}

.contact__email {
  display: block;
  margin-top: 0.5rem;
  font-weight: 600;
  color: var(--pure-white);
}
