/* Fonts ==>> Source Code Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

// Fonts ==>> Roboto Mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

// Color palette
$off-black: #1f1f1f;
$off-white: #eef2f1;
$pure-white: #fff;
$turqoise: #2cdec0;
$orange: #fb6520;

// breakpoints
$breakpoint-small: 35rem;
$breakpoint-tablet: 48rem;
$breakpoint-large: 60rem;

html {
  scroll-behavior: smooth;
  background-color: $off-black;
}

* {
  /* border: tomato solid 1px; */
}

body {
  max-width: 80rem;
  margin: auto;
}

body > * {
  padding: 1rem;
  border-radius: 0.5rem;
}

header {
  width: 100%;
  max-width: inherit;
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem;
  grid-template-areas:
    'logo toggle'
    'nav-items nav-items';
  align-items: center;
  background-color: $off-black;
  color: $pure-white;
}

.header__logo {
  grid-area: logo;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.85rem;
  letter-spacing: 2px;
  line-height: 1.35rem;
  text-transform: uppercase;
  color: inherit;
}

@media (min-width: $breakpoint-small) {
  .header__logo {
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

#header__menu-btn {
  grid-area: toggle;
  text-align: right;
  text-transform: capitalize;
}

#header__menu-btn:hover {
  cursor: pointer;
}

.header__nav {
  width: 100%;
  grid-area: nav-items;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  display: none;
}

.header__nav.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $off-black;
  background-color: $off-white;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.header__nav-item {
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  max-width: 50rem;
  margin: auto;
}

.footer__logo {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  letter-spacing: 1.8px;
  line-height: 1.35rem;
  text-transform: uppercase;
  color: $pure-white;
  margin-bottom: 0.5rem;
}

.copyright {
  color: $pure-white;
  font-size: 0.8rem;
}

.contact__email {
  display: block;
  margin-top: 0.5rem;
  font-weight: 600;
  color: $pure-white;
}
