<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Earthrise Initiative</title>
    <!-- <link rel="stylesheet" href="../styles/resets.css" />
    <link rel="stylesheet" href="../styles/shared.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <script src="../js/home-page/project-areas/headerNavModal.js" defer></script> -->
  </head>
  <body>
    <header>
      <a class="header__logo" href="./index.html">earthrise initiative</a>
      <a id="header__menu-btn">menu</a>
      <nav class="header__nav">
        <ul class="header__nav_items">
          <li class="header__nav-item"><a href="">mission</a></li>
          <li class="header__nav-item">
            <a href="./projects.html">projects</a>
          </li>
          <li class="header__nav-item">
            <a href="./resources.html">resources</a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="hero">
      <a href="#mission"
        ><img src="./arrow-white.svg" alt="down navigation arrow"
      /></a>
    </section>
    <section id="mission">
      <h1 id="mission-statement">
        we do what we can to create a world with equality of consideration for
        all
      </h1>
      <nav class="mission__nav">
        <ul class="mission__nav-items">
          <a href="#areas-preview" class="mission__nav-item__container">
            <li>education</li>
            <img
              class="mission__nav__nav-arrow"
              src="./arrow-green.svg"
              alt="down arrow"
            />
          </a>
          <a
            href="./areas/mental-health.html"
            class="mission__nav-item__container"
          >
            <li>mental health</li>
            <img
              class="mission__nav__nav-arrow"
              src="./arrow-green.svg"
              alt="down arrow"
            />
          </a>
          <a href="#areas-preview" class="mission__nav-item__container">
            <li>basic income</li>
            <img
              class="mission__nav__nav-arrow"
              src="./arrow-green.svg"
              alt="down arrow"
            />
          </a>
          <a
            href="./areas/non-human-animals.html"
            class="mission__nav-item__container"
          >
            <li>animal welfare</li>
            <img
              class="mission__nav__nav-arrow"
              src="./arrow-green.svg"
              alt="down arrow"
            />
          </a>
        </ul>
      </nav>
    </section>
    <section id="areas-preview">
      <h4 id="area__title">education</h4>
      <h2 id="areas-question">
        How can we provide everyone with a world-class education?
      </h2>
      <div>
        <a id="explore-projects__btn" href="./areas/education.html">
          <img
            id="explore-projects__btn__nav-arrow"
            src="./right-arrow-dark.svg"
            alt="navigation arrow"
          />
          <p id="explore-projects__btn__text">Explore projects</p>
        </a>
      </div>
    </section>
    <footer>
      <div class="footer__nav">
        <h4>contact</h4>
        <a class="contact__email" href="mailto:hello@earthriseinitiative.com"
          >hello@earthriseinitiative.com</a
        >
      </div>
      <div>
        <p class="footer__logo">earthrise initiative</p>
        <p class="copyright">© 2020</p>
      </div>
    </footer>
  </body>
</html>
