<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Earthrise – Projects</title>
  </head>
  <body>
    <header>
      <a class="header__logo" href="./index.html">earthrise initiative</a>
      <a id="header__menu-btn">menu</a>
      <nav class="header__nav">
        <ul class="header__nav_items">
          <li class="header__nav-item"><a href="">mission</a></li>
          <li class="header__nav-item">
            <a href="./projects.html">projects</a>
          </li>
          <li class="header__nav-item">
            <a href="./resources.html">resources</a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="projects">
      <h1>Projects</h1>
      <a
        href="https://www.khanacademy.org"
        target="_blank"
        id="khan-academy-preview"
        class="project-preview"
      >
        <img
          class="project__image"
          src="./khan-academy-logo.svg"
          alt="Khan Academy logo"
        />
        <h3 class="projects-grid__area">Education</h3>
        <p>
          A nonprofit with the mission to provide a free, world-class education
          for anyone, anywhere.
        </p>
      </a>
      <a
        href="https://www.realschool.eu"
        target="_blank"
        id="real-school-preview"
        class="project-preview"
      >
        <img
          class="project__image"
          src="https://static.wixstatic.com/media/48d0e2_9091277b2d07400f973f9bc8df0a2546~mv2_d_5839_3935_s_4_2.png/v1/fill/w_214,h_142,al_c,q_85,usm_0.66_1.00_0.01/Real%20School%20-%20RGB%20-%20Main%20Logo.svg"
          alt="Real School"
        />
        <h3 class="projects-grid__area">Mental Health</h3>
        <p>
          A not-for-profit international school that educates for sustainability
          through project-based learning.
        </p>
      </a>
      <a
        href="https://www.freecodecamp.org"
        target="_blank"
        id="freecodecamp-preview"
        class="project-preview"
      >
        <img
          class="project__image"
          src="./freecodecamp-vector-logo.svg"
          alt="freeCodeCamp logo"
        />
        <h3 class="projects-grid__area">Basic Income</h3>
        <p>
          freeCodeCamp is a nonprofit community that helps you learn to code by
          building projects.
        </p>
      </a><a
        href="https://www.freecodecamp.org"
        target="_blank"
        id="freecodecamp-preview"
        class="project-preview"
      >
        <img
          class="project__image"
          src="./freecodecamp-vector-logo.svg"
          alt="freeCodeCamp logo"
        />
        <h3 class="projects-grid__area">Basic Income</h3>
        <p>
          freeCodeCamp is a nonprofit community that helps you learn to code by
          building projects.
        </p>
      </a>
    </section>
  </body>
</html>
