<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources – Earthrise</title>
  </head>
  <body>
    <div class="main-header container">
      <header class="main-header__header">
        <a class="main-header__logo" href="./index.html"
          >earthrise initiative</a
        >
        <a id="main-header__menu-btn" class="main-header__menu-btn"> menu </a>
        <nav class="main-header__nav">
          <ul class="main-header__nav-items">
            <li class="main-header__nav-item">
              <a href="./index.html">home</a>
            </li>
            <li class="main-header__nav-item">
              <a href="./projects.html">what we do</a>
            </li>
            <li class="main-header__nav-item">
              <a href="./resources.html">resources</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <div>
      <section class="resources__bg-image">
        <div class="resources__bg-layer"></div>
        <div class="resources__text-container">
          <h1 class="resources__intro-heading">
            We are human beings applying knowledge and direct experience to
            expand our spheres of compassion
          </h1>
          <p class="resources__intro-text">
            Here you can find a collection of resources that inform our thinking
          </p>
        </div>
      </section>
    </div>
    <div class="resources container">
      <section class="resources__section">
        <h1 class="resources__heading">resources</h1>
        <a
          href="https://www.khanacademy.org"
          target="_blank"
          id="khan-academy-preview"
          class="resource--image container"
        >
          <img
            class="resource--image__image"
            src="./khan-academy-logo.svg"
            alt="Khan Academy logo"
          />
          <h3 class="resource--image__heading">Effective Altruism</h3>
          <p class="resource--image__description">
            A nonprofit with the mission to provide a free, world-class
            education for anyone, anywhere.
          </p>
          <ul class="resource__topic-tags container">
            <li class="resource__topic-tag">ehtics</li>
            <li class="resource__topic-tag">philanthropy</li>
            <li class="resource__topic-tag">future</li>
          </ul>
        </a>
        <a
          href="https://www.khanacademy.org"
          target="_blank"
          id="khan-academy-preview"
          class="resource--text container"
        >
          <q class="resource--text__quote"
            >We need to demand more of our culture, of our society. And we need
            to demand more from one another. We’re all necessary, and we can all
            contribute, to building.</q
          >
          <h3 class="resource--text__heading">Marc Andreessen</h3>
          <ul class="resource__topic-tags container">
            <li class="resource__topic-tag">philosophy</li>
            <li class="resource__topic-tag">technology</li>
          </ul>
        </a>
        <a
          href="https://www.khanacademy.org"
          target="_blank"
          id="khan-academy-preview"
          class="resource--image container"
        >
          <img
            class="resource--image__image"
            src="./khan-academy-logo.svg"
            alt="Khan Academy logo"
          />
          <h3 class="resource--image__heading">Animal Liberation</h3>
          <p class="resource--image__description">
            A nonprofit with the mission to provide a free, world-class
            education for anyone, anywhere.
          </p>
          <ul class="resource__topic-tags container">
            <li class="resource__topic-tag">education</li>
            <li class="resource__topic-tag">science</li>
          </ul>
        </a>
        <a
          href="https://www.khanacademy.org"
          target="_blank"
          id="khan-academy-preview"
          class="resource--text container"
        >
          <q class="resource--text__quote"
            >We need a global understanding of the identity and history of
            humankind.</q
          >
          <h3 class="resource--text__heading">
            Yuval Harari on cognitive challenges in a complex world
          </h3>
          <!-- <p class="resource--text__description">
            A nonprofit with the mission to provide a free, world-class
            education for anyone, anywhere.
          </p> -->
          <ul class="resource__topic-tags container">
            <li class="resource__topic-tag">philosophy</li>
            <li class="resource__topic-tag">technology</li>
          </ul>
        </a>
        <a
          href="https://www.khanacademy.org"
          target="_blank"
          id="khan-academy-preview"
          class="resource--image container"
        >
          <img
            class="resource--image__image"
            src="./khan-academy-logo.svg"
            alt="Khan Academy logo"
          />
          <h3 class="resource--image__heading">
            A Call for Revolution – The Dalai Lama
          </h3>
          <p class="resource--image__description">
            A nonprofit with the mission to provide a free, world-class
            education for anyone, anywhere.
          </p>
          <ul class="resource__topic-tags container">
            <li class="resource__topic-tag">education</li>
            <li class="resource__topic-tag">science</li>
          </ul>
        </a>
        <a
          href="https://www.khanacademy.org"
          target="_blank"
          id="khan-academy-preview"
          class="resource--image container"
        >
          <img
            class="resource--image__image"
            src="./khan-academy-logo.svg"
            alt="Khan Academy logo"
          />
          <h3 class="resource--image__heading">
            How to Change Your Mind – Michael Pollan
          </h3>
          <p class="resource--image__description">
            A nonprofit with the mission to provide a free, world-class
            education for anyone, anywhere.
          </p>
          <ul class="resource__topic-tags container">
            <li class="resource__topic-tag">education</li>
            <li class="resource__topic-tag">science</li>
          </ul>
        </a>
      </section>
    </div>
  </body>
</html>
