<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources – Earthrise</title>
  </head>
  <body>
    <div class="main-header container">
      <header class="main-header__header">
        <a class="main-header__logo" href="./index.html"
          >earthrise initiative</a
        >
        <a id="main-header__menu-btn" class="main-header__menu-btn"> menu </a>
        <nav class="main-header__nav">
          <ul class="main-header__nav-items">
            <li class="main-header__nav-item">
              <a href="./index.html">home</a>
            </li>
            <li class="main-header__nav-item">
              <a href="./projects.html">projects</a>
            </li>
            <li class="main-header__nav-item">
              <a href="./resources.html">resources</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <div>
      <section class="resources__bg-image">
        <div class="resources__bg-layer"></div>
        <div class="resources__text-container">
          <h1 class="resources__heading">
            We are human beings applying knowledge and direct experience to
            expand our spheres of compassion
          </h1>
          <p class="resources__text">
            Here you can find a collection of resources that inform our
            thinking
          </p>
        </div>
      </section>
    </div>
    <main class="resources-main__section">
      <h1 class="resources-main__heading">resources</h1>



    </main>
  </body>
</html>
